[D-BUS Service]
Name=org.freedesktop.Telepathy.Client.Zeitgeist
Exec=/home/seif/Projects/zeitgeist-dataproviders/telepathy/zeitgeist-telepathy-observer.py
